name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  windows-build:
    name: Windows
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Boost
      uses: MarkusJx/install-boost@v2.4.4
      id: install-boost
      with:
        boost_version: 1.78.0
        platform_version: 2019
        toolset: msvc

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -S ${{github.workspace}}/src
      env:
        BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}


    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}

  ubuntu-gcc-9-build:
    name: Ubuntu 20.04 with G++ 9
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - name: Install Ubuntu Packages
      run: sudo apt install libboost-dev

    - name: Configure CMake
      run: CXX=g++-9 cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -S ${{github.workspace}}/src

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}

  ubuntu-build:
    name: Ubuntu 22.04 with G++ 12
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Ubuntu Packages
      run: |
        sudo apt update --fix-missing
        sudo apt install qt6-base-dev libgl1-mesa-dev libboost-dev

    - name: Configure CMake
      run: CXX=g++-12 cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_GUI=ON -S ${{github.workspace}}/src

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}

